# paquetes básicos para análisis de datos y modelamiento
tidyverse
patchwork
data.table
readxl
writexl
janitor

# paquetes para series de tiempo
fable
tsibbledata
feasts
tsibble
ggtime
fasster
tsfeatures
forecast
zoo
xts
tseries
moments

# paquetes de machine learning y deep learning
prophet
randomForest
xgboost
lightgbm
e1071
mlr3verse
tidymodels
keras
tensorflow
torch

# paquetes datos
wbstats
quantmod
nycflights13
gapminder
Lahman
ColombiAPI
Latamverse

# otros paquetes útiles
IRkernel
reticulate
renv
knitr
rmarkdown
GGally
